package auth

import (
	"context"

	"github.com/99designs/gqlgen/graphql/handler/transport"
)

func WebSocketInit(ctx context.Context, initPayload transport.InitPayload) (context.Context, error) {
	return ctx, nil
}
