package main

import (
	"{{.Package}}/db"
	"{{.Package}}/routes"
	{{- if .Config.Privacy}}
	_ "{{.Package}}/ent/runtime"
	{{- end}}

	"github.com/labstack/echo/v4"
	"github.com/labstack/echo/v4/middleware"
)

func main() {
	db.Init()
	defer db.Client.Close()

	e := echo.New()

	e.Use(middleware.Recover())
	e.Use(middleware.CORSWithConfig(middleware.CORSConfig{
		AllowOrigins: []string{"*"},
		AllowHeaders: []string{echo.HeaderOrigin, echo.HeaderContentType, echo.HeaderAccept, echo.HeaderAuthorization},
	}))

	routes.Init(e)

	e.Logger.Fatal(e.Start(":5000"))
}
