package resolvers

// This file will be automatically regenerated based on the schema, any resolver implementations
// will be copied through when generating and any unknown code will be moved to the end.

import (
	"context"
	"fmt"

	"github.com/99designs/gqlgen/graphql"
)

// Upload is the resolver for the upload field.
func (r *mutationResolver) Upload(ctx context.Context, input graphql.Upload) (bool, error) {
	panic(fmt.Errorf("not implemented: Upload - upload"))
}